.content {
    background-color: blue;
}

.bckimg {
    background-position: bottom;
    background-size: cover;
    height: 500px;
    width: 700px;
}

.mainCanvas {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 25px;
}