.bckimg {
    background-position: bottom;
    background-size: cover;
    height: 500px;
    width: 700px;
}

.mainCanvas {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
margin: 25px;
font-family: Montserrat;
border-style: solid;
border-color: #94304b;
border-width: 3px;
opacity: .50;
}

.mainCanvas:hover {
    opacity: 1;
}